ip = 127.0.0.1
port = 9048

connectTimeout = 10s

waitting = 10s

stackSize = 64kb

threadCountOfNetworkModule = 64
threadCountOfServiceModule = 64

serverContextSize = 640

logpath=/opt/idcreator/log
logprefix=idcreator

#unit KB MB GB
logsize=10mb

# Debug 
# Info 
# Warn 
# Error 
# Mark 
loglevel=Debug

daemon = false

timeout=300

mid = 0
